@import "../components/burger/burger.scss";
@import "../components/breadcrumbs/breadcrumbs.scss";
@import "../components/button/button.scss";
@import "../components/checkbox/checkbox.scss";
@import "../components/form/form.scss";
@import "../components/mobileMenu/mobileMenu.scss";
@import "../components/headers/headers.scss";
@import "../components/popup/popup.scss";
@import "../components/table/table.scss";

.pageTitle {
  margin: 24px 0 0;
}

.pageTitle__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1200px;
  border-radius: 64px;
  overflow: hidden;
  position: relative;
  min-height: 360px;
  margin: 0 auto;
  padding: 40px;

  .breadcrumb {
    width: 100%;
    max-width: 1024px;
    margin: 16px auto 0;
    z-index: 2;

    li a {
      font-weight: 600;
      color: #1f1f1f;
    }
  }
}

.pageTitle__text {
  z-index: 2;
  font-weight: 600;
  color: #1f1f1f;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

  &.section-h1 {
    font-size: 64px;
  }
}

.pageTitle {
  .desc {
    font-size: 24px;
    line-height: 32px;
    max-width: 1024px;
    width: 100%;
    margin: 16px auto 0;
    z-index: 2;
    font-weight: 600;
    color: #1f1f1f !important;
  }

  .desc__text {
    max-width: 760px;
  }
}

.pageTitle__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .2;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: 0.25s;
  }
}

.page-nav{
  z-index: 3;
  border-bottom: 1px solid #e1e3e1;
  background: #fff;

  .container{
    max-width: 1124px
  }

  &__links{
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;


    @media screen and (max-width: 960px){
      &__links {
        padding: 0 40px;
        margin: 0 -40px;
      }
    }

    @media screen and (max-width: 480px){
      &__links {
        margin: 0 -24px;
        padding: 0 24px;
      }
    }




  }

  &__link{
    cursor: pointer;
    font-weight: 600;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    color: #1f1f1f;
    line-height: 1.25rem;
    font-size: 16px;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    height: 48px;
    padding: 0 24px;
    position: relative;
    text-decoration: none;


    &.is-active::after {
      position: absolute;
      content: "";
      border-top: 3px solid #1a73e8;
      border-radius: 3px 3px 0 0;
      width: calc(100% - 48px);
      left: 50%;
      bottom: 0;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      overflow-y: hidden
    }
  }

}

@media screen and (max-width: 960px) {
  .pageTitle__text.section-h1 {
    font-size: 45px
  }
}

@media screen and (max-width: 480px) {

  .pageTitle__wrp {
    padding: 40px 24px 40px 40px
  }

  .pageTitle__text.section-h1 {
    font-size: 36px
  }

  .pageTitle .desc {
    font-size: 20px;
    line-height: 28px
  }

}