footer
    .container
        .footer
            .footer-desc
                .footer-desc__logo
                    img(src='img/common/image.jpg' alt='' width='48' height='48')
                .footer-desc__text
                    p.
                        I'm Vlad Yukhnovski, front-end developer at Promicom Develop LLC.<br>
                        This website was created to showcase my projects. <br>
                        Interested in work together? Let's talk
            .footer-feedback
                ul
                    li
                        a(href='#feedback') Feedback
